<nav id="menu">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><a href="/" style="text-decoration: none; color: white;">Był sobie Człowiek</a></label>
    <ul class="ulmenu">
    <br><br><br>
        <li class="limenu"><a href="/prehistoria" class="amenu">Prehistoria</a><a href="/starożytność" class="amenu">Starożytność</a><a href="/średniowiecze" class="amenu">Średniowiecze</a><a href="/nowożytność" class="amenu">Nowożytność</a><a href="/współczesność" class="amenu">Współczesność</a></li>
        <li class="limenu"><a href="/mikrohistoria" class="amenu">Mikrohistoria</a><a href="/biografistyka" class="amenu">Biografistyka</a></li>
        <li class="limenu"><a href="/drobne-newsy" class="amenu">Drobne Newsy</a><a href="/raczek-nieboraczek" class="amenu">Raczek Nieboraczek</a></li>
        <li class="limenu"><a href="/filozofia" class="amenu">Filozofia</a><a href="/literatura" class="amenu">Literatura</a><a href="/refleksje" class="amenu">Refleksje</a></li>
        <li class="limenu"><a href="/psychologia" class="amenu">Psychologia</a><a href="/polska" class="amenu">Polski kosmos</a><a href="/wynalazki-odkrycia-dzieła" class="amenu">Wynalazki/Odkrycia/Dzieła</a></li>
        <li class="limenu"><a href="/o_mnie" class="amenu">O mnie</a></li>
    </ul>
</nav>